body {
	background-color: darkCyan;
}
h1 {
	color: white;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	font-family: Verdana, Sans-serif;
}
#question {
	font-size: 300%;
	color: white;
	white-space: pre-wrap;
	position: relative;
	left: 30px;
}
#q {
	color: tomato;
	white-space: pre-wrap;
	border: 4px Solid tomato;
	border-radius: 15px;
	padding-left: 10px;
	padding-bottom: 7px;
	padding-right: 12px;
}
space {
	white-space: pre-wrap;
}